<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7be3c5">  <td>18/06/24 11:05:32</td>   <td>0</td> <td title="&gt;&gt;Tests.setup()[pri:0, instance:test.Tests@46d56d67]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="7be3c5">  <td>18/06/24 11:05:38</td>   <td>6846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests.test_signIn()[pri:0, instance:test.Tests@46d56d67]">test_signIn</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="7be3c5">  <td>18/06/24 11:05:44</td>   <td>12328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests.test_logIn()[pri:1, instance:test.Tests@46d56d67]">test_logIn</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="7be3c5">  <td>18/06/24 11:05:47</td>   <td>15454</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests.smoke_test_features()[pri:2, instance:test.Tests@46d56d67]">smoke_test_features</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="7be3c5">  <td>18/06/24 11:05:57</td>   <td>25545</td> <td title="&lt;&lt;Tests.setdown()[pri:0, instance:test.Tests@46d56d67]">&lt;&lt;setdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
</table>
