<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dc63ce">  <td>18/06/24 23:55:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Zadanie_2.RegistrationSuccessful()[pri:0, instance:Zadanie_2@4cc0edeb]">RegistrationSuccessful</td> 
  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="dc63ce">  <td>18/06/24 23:55:38</td>   <td>1942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Zadanie_2.maxIdValue()[pri:0, instance:Zadanie_2@4cc0edeb]">maxIdValue</td> 
  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="dc63ce">  <td>18/06/24 23:55:39</td>   <td>2348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Zadanie_2.maxUserIdValue()[pri:0, instance:Zadanie_2@4cc0edeb]">maxUserIdValue</td> 
  <td>main@121295574</td>   <td></td> </tr>
</table>
